{application, {{name}}, [
  {description, "{{description}}"},
  {vsn, "0.0.1"},
  {registered, []},
  {modules, [{{name}}_app, {{name}}, {{name}}_sup]},
  {applications, [kernel, stdlib]},
  {env, []}
]}.
