-module({{name}}_app).
-behaviour(application).

%% Application Callbacks
-export([start/2, stop/1]).

%% ====================================================================
%% API Functions
%% ====================================================================

start(_StartType, _StartArgs) -> {{name}}_sup:start_link().

stop(_State) -> ok.

%% ====================================================================
%% Internal Functions
%% ====================================================================
