-module({{name}}).

%% Application callbacks
-export([]).

%% ====================================================================
%% API Functions
%% ====================================================================


%% ====================================================================
%% Internal Functions
%% ====================================================================
