{dev_mode, true}.
{lib_dirs, ["/usr/local/erlang"]}.
{output_dir, "_rel-dev"}.
{release, {{{name}}, "{{project_version}}"},
  [{{{name}}_core, "{{project_version}}"}, sasl, syntax_tools, compiler,
   sync]}.
{extended_start_script, true}.
